apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
type: Opaque
data:
  # Base64 encoded string: postgresql://postgres:postgres@192.168.55.105:5432/simple
  POSTGRES_CONN_STRING: cG9zdGdyZXNxbDovL3Bvc3RncmVzOnBvc3RncmVzQDE5Mi4xNjguNTUuMTA1OjU0MzIvc2ltcGxl
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fastapi-app
  template:
    metadata:
      labels:
        app: fastapi-app
    spec:
      containers:
        - name: fastapi-app
          image: koolvn/simple-fast-api:app
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          env:
            - name: TRITON_URL
              # This is a triton Service name. Cluster DNS will handle it
              value: "triton-inference-server:8000"
            - name: MODEL_NAME
              value: "resnet18"
            - name: POSTGRES_CONN_STRING
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_CONN_STRING
            - name: LOG_LEVEL
              value: "info"
---
apiVersion: v1
kind: Service
metadata:
  name: fastapi-app
spec:
  selector:
    app: fastapi-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
#  type: LoadBalancer
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: fastapi-ingress
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "50m"
spec:
  ingressClassName: nginx
  rules:
    - http:
        paths:
          - path: /clf-app
            pathType: Prefix
            backend:
              service:
                name: fastapi-app
                port:
                  number: 80